@font-face {
  font-family: "iconfont"; /* Project id 3170473 */
  src: url('iconfont.woff2?t=1644215720529') format('woff2'),
       url('iconfont.woff?t=1644215720529') format('woff'),
       url('iconfont.ttf?t=1644215720529') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\e601";
}

.icon-baobei:before {
  content: "\e600";
}

.icon-jiantouxia:before {
  content: "\e62d";
}

